<h2>Login</h2>
<form class="login-form">
  <input [(ngModel)]="credentials.login" type="text" placeholder="Username" name="login">
  <input [(ngModel)]="credentials.password" type="password" placeholder="Password" name="password" />
  <input [(ngModel)]="pwdConf" type="password" placeholder="Password confirmation" name="password-confirm" />
  <small *ngIf="credentials.password != pwdConf">The passwords must match.</small>
  <button type="submit" (click)="login()">Login</button>
</form>
