:host {
  padding: 16px;
  background: white;
  border-radius: 8px;
  display: block;
  width: 60%;
  margin: auto;
}


.login-form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #eff1f2;
  color: #464646;
  margin-bottom: 16px;
}
small {
  margin-top: -16px;
  color: #464646;
  font-style: italic;
  margin-bottom: 16px;
}

button {
  color: white;
  background: #378dcc;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}
