:host {
  padding: 16px;
  background: white;
  border-radius: 8px;
  display: block;
  position: relative;
}

button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.25rem;
}

button:hover {
  color: red;
}
