/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #8e8e97;
}

h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: 500;
}
